{
  "SSHKey": "/app/keys/id_rsa",
  "LoaderScript": "/app/loader.sh",
  "PublicUrl": "https://example.org",
  "Auth": {
    "clientId": "12345",
    "apiKey": "apikey",
    "preferHttp": false
  }
}

